.navbar.navbar-default {
  /*padding: 10px 0;*/
  background-color: #ffffff;
  border-bottom: 2px solid #70a9bf;
  box-shadow: 0 5px 20px rgba(65, 105, 225, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.row.container-context {
  padding: 100px 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-left: 10px;
}

.group-info-buttons {
  margin: 8px;
  display: flex;
  justify-content: flex-end;
}

.group-info-buttons .btn {
  margin-right: 10px;
}

.panel-footer {
  font-family: "Roboto", sans-serif;
}

.nav.nav-pills {
  display: flex;
  flex-direction: column;
}

.nav.nav-pills li {
  margin-bottom: 8px;
}

.button.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  background-color: black;
  color: black;
  border: 2px solid red;
}

.hide-button {
  display: none;
}

.message-box {
  display: flex;
  justify-content: space-between;
}

.useful-tips {
    text-align: center;
}

.input-group {
  margin: 10px;
}

.btn.btn-link {
  padding: 15px;
}

.current-time {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/*Theme switcher*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Theme switcher end*/

/*Dark Theme*/
.dark-theme {
  background-color: #2C2C2C;
}